.m_ui {
    display: none !important;
}
@media (max-width: 767px) {
    .p_ui {
        display: none !important;
    }
    .m_ui {
        display: block !important;
    }
}

.width_1260 {
    max-width: 1260px !important;
}

.background_gray {
    background-color: #f4f4f4;
}

@media (max-width: 767px) {
    section.content__banner .inner .banner__text {
        height: auto;
    }
    section.content__banner .inner .banner__text p {
        padding-bottom: 60px;
        max-width: 94%;
    }
}

/* agency.html */
section.service_content_wrap .page__deco__text {
    color: #eee;
}

.service_content_wrap {
    padding: 120px 0 150px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.service_content_wrap.cont1 {
    padding-top: 0;
}
.service_content_wrap.cont4 {
    padding-bottom: 200px;
}
.service_content_wrap .inner {
    display: flex;
    padding: unset;
}
.service_content_wrap.right .inner {
    flex-direction: row-reverse;
}

.service_number {
    position: absolute;
    top: 4%;
    right: 0;
    width: calc(100% - 570px);
}
.service_number::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 20px;
    background: #C0DED8;
}
.service_number > p {
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
    word-break: keep-all;
    color: #333;
    position: relative;
}

.service_slide_wrap {
    width: 580px;
    height: 660px;
    position: relative;
}
.service_slide_wrap::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 42%;
    height: 62%;
    background: linear-gradient(211.05deg, #0E998E 18.62%, #1685B2 87.06%);
    border-bottom-left-radius: 50px;
}
.swiper.service_content_slide {
    width: calc(100% - 60px);
    height: 600px;
    margin-right: unset;
}
.service_content_slide .swiper-slide {
    border-top-right-radius: 50px;
    overflow: hidden;
}
.service_content_slide .swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_content_slide .swiper-button-prev {
    position: absolute;
    bottom: 0;
    right: 80px;
    background: center / 25px 14px no-repeat url(/assets/images/common/slide_arrow_left_white.svg),#333;
    left: unset;
    top: unset;
    width: 80px;
    height: 80px;
    color: unset;
}
.service_content_slide .swiper-button-prev::after {
    display: none;
}
.service_content_slide .swiper-button-next {
    position: absolute;
    bottom: 0;
    right: 0;
    background: center / 25px 14px no-repeat url(/assets/images/common/slide_arrow_right_white.svg),#333;
    left: unset;
    top: unset;
    width: 80px;
    height: 80px;
    color: unset;
}
.service_content_slide .swiper-button-next::after {
    display: none;
}
.service_content_slide .swiper-button-prev.swiper-button-disabled,
.service_content_slide .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    background-color: #666;
}
.service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 25px;
    width: calc(100% - 60px);
    margin-left: 60px;
}
.service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    width: 30px;
    height: 10px;
    border-radius: 50px;
    background: #ccc;
}
.service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #333;
}

.service_slide_wrap .swiper-pagination-lock {
    display: block;
}
.service_slide_wrap .swiper-pagination-lock .swiper-pagination-bullet:only-child {
    display: block !important;
    margin: 0 auto;
}

.swiper.service_text_box {
    padding: 170px 0 0 0;
    margin-left: 100px;
}
.service_text_box .number {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #0C9F84;
}
.service_text_box .title {
    margin-top: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    color: #222;
}
.service_text_box .text {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
    color: #222;
    max-width: 480px;
}

.service_content_wrap.right {
    background: #F4F4F4;
}
.service_content_wrap.right .service_number {
    top: 4%;
    left: 0;
}
.service_content_wrap.right .service_number::before {
    right: 0;
}
.service_content_wrap.right .service_number > p {
    text-align: left;
}
.service_content_wrap.right .swiper.service_content_slide {
    margin-right: auto;
    margin-left: unset;
}
.service_content_wrap.right .service_slide_wrap::before {
    left: unset;
    right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
}
.service_content_wrap.right .swiper.service_text_box {
    padding: 170px 0 0 0;
    margin-right: 100px;
    text-align: right;
}
.service_content_wrap.right .service_text_box .text {
    margin-left: auto;
}
.service_content_wrap.right .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: calc(100% - 60px);
    margin-left: unset;
}

footer .page__deco.type1 {
    top: -90px;
    right: 140px;
    background: #1685B2;
    transform: rotate(25deg);
    position: absolute;
    width: 90px;
    height: 180px;
    border-radius: 45px;
    transition: all 0.4s ease;
    z-index: 1;
}

@media (max-width: 1439px) {
    .service_number > p {
        font-size: 2.222vw;
    }
    .service_number::before {
        bottom: 4px;
        height: 1.2vw;
    }

    .service_text_box .number {
        font-size: 2.778vw;
    }
    .service_text_box .text {
        font-size: 1.667vw;
    }
}
@media (max-width: 1279px) {
    .service_text_box .number {
        font-size: 3.125vw;
    }
}
@media (max-width: 767px) {
    footer .page__deco.type1 {
        width: 6.25vw;
        height: 12.5vw;
        top: -6.25vw;
        right: 12.167vw;
        transform: rotate(25deg);
    }

    .service_content_wrap .inner {
        padding: 0 5.128vw;
        flex-direction: column;
    }
    .service_content_wrap.right .inner {
        flex-direction: column;
    }

    .service_content_wrap {
        padding: 60px 0 60px;
    }
    .service_content_wrap.cont1 {
        padding-top: 0;
    }
    .service_content_wrap.cont4 {
        padding-bottom: 100px;
    }

    .service_number {
        width: 100%;
        position: relative;
        top: unset;
        right: unset;
    }
    .service_number::before {
        bottom: 2px;
        height: 10px;
    }
    .service_number > p {
        font-size: 20px;
    }

    .service_slide_wrap {
        margin-top: 24px;
        width: 100%;
        height: 100%;
        aspect-ratio: 335 / 382;
    }
    .swiper.service_content_slide {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
    }
    .service_content_slide .swiper-button-prev {
        right: 50px;
        background: center / 18px 10px no-repeat url(/assets/images/common/slide_arrow_left_white.svg),#333;
        width: 50px;
        height: 50px;
    }
    .service_content_slide .swiper-button-next {
        background: center / 18px 10px no-repeat url(/assets/images/common/slide_arrow_right_white.svg),#333;
        width: 50px;
        height: 50px;
    }
    .service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 9px;
        text-align: right;
        margin-right: 30px;
    }
    .service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
        width: 24px;
        height: 8px;
    }

    .swiper.service_text_box {
        padding: 20px 0 0 0;
        margin-left: unset;
        width: 100%;
    }
    .service_text_box .number {
        font-size: 6.154vw;
    }
    .service_text_box .title {
        margin-top: 10px;
        font-size: 24px;
    }
    .service_text_box .text {
        margin-top: 20px;
        font-size: 4.615vw;
        max-width: unset;
    }

    .service_content_wrap.right .service_number > p {
        text-align: right;
    }
    .service_content_wrap.right .service_slide_wrap .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        text-align: left;
    }
    .service_content_wrap.right .swiper.service_text_box {
        padding: 20px 0 0 0;
        text-align: left;
    }

    .service_slide_wrap .swiper-pagination-lock .swiper-pagination-bullet:only-child {
        display: block !important;
        margin: 0 0 0 auto;
    }
    .service_content_wrap.right .service_slide_wrap .swiper-pagination-lock .swiper-pagination-bullet:only-child {
        display: block !important;
        margin: 0 auto 0 0;
    }

    section.service_content_wrap .page__deco.type1 {
        top: unset;
        bottom: -30.25vw;
        right: 4.167vw;
    }
}

/* experience_example.html */
main section .inner.width_1260 {
    padding-left: unset;
    padding-right: unset;
}

.experience_example section.content__banner .banner__text p {
    max-width: 90%;
}

li:has(.example_flex_wrap) {
    padding-bottom: 80px;
}

.example_flex_wrap {
    display: flex;
    justify-content: space-between;
}
.example_flex_wrap .imgbox {
    width: 31%;
}
.example_flex_wrap .tablebox {
    width: 57%;
}

.example_flex_wrap .imgbox .img {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 3;
    border-top-right-radius: 50px;
    overflow: hidden;
    position: relative;
}
.example_flex_wrap .imgbox .img > img:first-child {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.example_flex_wrap .imgbox .img > [class*='logo_'] {
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 로고별 스타일 */
.example_flex_wrap .imgbox .img > .logo_hausys {
    width: 45.75%;
}
.example_flex_wrap .imgbox .img > .logo_amore {
    width: 62.5%;
}
.example_flex_wrap .imgbox .img > .logo_samsung {
    width: 52.25%;
}
.example_flex_wrap .imgbox .img > .logo_skmagic {
    width: 34.75%;
}
.example_flex_wrap .imgbox .img > .logo_credit {
    width: 45%;
}
.example_flex_wrap .imgbox .img > .logo_hyundai {
    width: 28.75%;
}

.example_flex_wrap .imgbox .text {
    margin-top: 20px;
    text-align: center;
}
.example_flex_wrap .imgbox .text span {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.example_flex_wrap .linebox {
    position: relative;
}
.example_flex_wrap .linebox .line {
    display: block;
    width: 2px;
    height: calc(100% + 80px);
    background: #ccc;
}
.example_flex_wrap .linebox .round {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 50%;
    background: #0C9F84;
}
.example_flex_wrap .linebox .round.type1 {
    width: 20px;
    height: 20px;
}
.example_flex_wrap .linebox .round.type2 {
    width: 14px;
    height: 14px;
}
.example_flex_wrap .linebox .round.type1::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.example_flex_wrap .tablebox tr {
    border-bottom: 1px solid #ccc;
}
.example_flex_wrap .tablebox tr:first-child {
    border-top: 2px solid #666;
}
.example_flex_wrap .tablebox th,
.example_flex_wrap .tablebox td {
    padding: 21px 20px;
}
.example_flex_wrap .tablebox th {
    width: 20%;
    background: #F4F4F4;
}
.example_flex_wrap .tablebox th span {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}
.example_flex_wrap .tablebox td li {
    padding-left: 8px;
    position: relative;
}
.example_flex_wrap .tablebox td li.list_title {
    margin-top: 20px;
}
.example_flex_wrap .tablebox td li + li {
    margin-top: 10px;
}
.example_flex_wrap .tablebox td li::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}
.example_flex_wrap .tablebox td li.list_title::before {
    display: none;
}
.example_flex_wrap .tablebox td span {
    display: block;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.example_flex_wrap .tablebox td .list_title span {
    font-weight: 700;
}

@media (max-width: 767px) {
    .experience_example section.content__service .service__wrap {
        margin-top: 60px;
    }
    main section .inner.width_1260 {
        padding-left: 20px;
        padding-right: 20px;
    }

    li:has(.example_flex_wrap) {
        padding-bottom: 40px;
    }
    
    .example_flex_wrap {
        flex-direction: column;
    }
    .example_flex_wrap .imgbox,
    .example_flex_wrap .tablebox {
        width: 100%;
    }
    
    .example_flex_wrap .imgbox .img {
        border-top-right-radius: 30px;
    }
    .example_flex_wrap .imgbox .text {
        margin-top: 10px;
    }
    .example_flex_wrap .imgbox .text span {
        font-size: 15px;
    }

    .example_flex_wrap .tablebox {
        margin-top: 20px;
    }
    .example_flex_wrap .tablebox th, 
    .example_flex_wrap .tablebox td {
        padding: 16px 20px;
        display: block;
        width: 100%;
    }
    .example_flex_wrap .tablebox th span, 
    .example_flex_wrap .tablebox td span {
        font-size: 14px;
    }
}

/* experience_customers.html */
.experience_customer .grid-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.experience_customer .grid-4 li {
    width: calc(25% - 30px);
    aspect-ratio: 330 / 160;
}
.customer_logo_wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer_logo_wrap [class*='logo_img'] {
    object-fit: contain;
    height: auto;
}

.customer_logo_wrap .logo_img01 {
    width: 55%;
}
.customer_logo_wrap .logo_img02 {
    width: 66%;
}
.customer_logo_wrap .logo_img03 {
    width: 74%;
}
.customer_logo_wrap .logo_img04 {
    width: 68%;
}
.customer_logo_wrap .logo_img05 {
    width: 71%;
}
.customer_logo_wrap .logo_img06 {
    width: 70%;
}
.customer_logo_wrap .logo_img07 {
    width: 78%;
}
.customer_logo_wrap .logo_img08 {
    width: 85%;
}
.customer_logo_wrap .logo_img09 {
    width: 72%;
}
.customer_logo_wrap .logo_img10 {
    width: 65%;
}
.customer_logo_wrap .logo_img11 {
    width: 67%;
}
.customer_logo_wrap .logo_img12 {
    width: 67%;
}
.customer_logo_wrap .logo_img13 {
    width: 61%;
}
.customer_logo_wrap .logo_img14 {
    width: 73%;
}
.customer_logo_wrap .logo_img15 {
    width: 46%;
}
.customer_logo_wrap .logo_img16 {
    width: 49%;
}
.customer_logo_wrap .logo_img17 {
    width: 57%;
}
.customer_logo_wrap .logo_img18 {
    width: 74%;
}
.customer_logo_wrap .logo_img19 {
    width: 79%;
}
.customer_logo_wrap .logo_img20 {
    width: 75%;
}
.customer_logo_wrap .logo_img21 {
    width: 75%;
}
.customer_logo_wrap .logo_img22 {
    width: 54%;
}
.customer_logo_wrap .logo_img23 {
    width: 66%;
}
.customer_logo_wrap .logo_img24 {
    width: 70%;
}
.customer_logo_wrap .logo_img25 {
    width: 69%;
}
.customer_logo_wrap .logo_img26 {
    width: 66%;
}
.customer_logo_wrap .logo_img27 {
    width: 66%;
}

@media (max-width: 767px) {
    .experience_customer .grid-4 {
        gap: 20px 15px;
    }
    .experience_customer .grid-4 li {
        width: calc(50% - 15px/2);
    }

    .customer_logo_wrap {
        border-top-right-radius: 30px;
    }
}

/* aboutus_history.html */
.customer_flex_wrap {
    display: flex;
}

.customer_flex_wrap > .img_wrap {
    width: 34%;
    height: 100%;
    aspect-ratio: 43 / 26;
    overflow: hidden;
    border-top-right-radius: 50px;
}
.customer_flex_wrap > .img_wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer_flex_wrap > .content_wrap {
    margin-left: 80px;
    display: flex;
}
.customer_flex_wrap > .content_wrap .year {
    position: relative;
}
.customer_flex_wrap > .content_wrap .year {
    position: relative;
    padding-bottom: 80px;
}
.customer_flex_wrap > .content_wrap .year.type2 {
    margin: 0 20px;
}
.customer_flex_wrap > .content_wrap .year .line {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 24px;
    height: 100%;
    background: linear-gradient(180deg, #0C9F84 0%, #1588AE 100%);
}
.customer_flex_wrap > .content_wrap .year.type2 .number.from_to > span:last-child {
    margin-right: 20px;
}
.customer_flex_wrap > .content_wrap .year.type1 .number {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(211.05deg, #0E998E 18.62%, #1685B2 87.06%);
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.customer_flex_wrap > .content_wrap .year.type2 .number {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(211.05deg, #0E998E 18.62%, #1685B2 87.06%);
    color: #666;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.customer_flex_wrap > .content_wrap .year.type2 .number::before {
    content: '';
    display: block;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}
.customer_flex_wrap > .content_wrap .year.type1 .number > span {
    display: block;
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    z-index: 1;
}
.customer_flex_wrap > .content_wrap .year.type2 .number > span {
    display: block;
    color: #666;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    z-index: 1;
}
.customer_flex_wrap > .content_wrap .year + .month {
    margin-left: 60px;
    padding-bottom: 80px;
}
.customer_flex_wrap > .content_wrap .year.type1 + .month {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.customer_flex_wrap > .content_wrap .month > span {
    display: block;
}
.customer_flex_wrap > .content_wrap .month .number {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #0C9F84;
}
.customer_flex_wrap > .content_wrap .month .text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #222;
}
.customer_flex_wrap > .content_wrap .month .text + .number {
    margin-top: 20px;
}

.aboutus_organization_wrap {
    display: flex;
    padding-bottom: 80px;
}
.aboutus_organization_wrap > li {
    flex: 1;
    position: relative;
}
.aboutus_organization_wrap > li:nth-child(2) {
    left: -6.4%;
}
.aboutus_organization_wrap .organization_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus_organization_wrap .organization_content .round_wrap {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
}
.aboutus_organization_wrap .add + .add .organization_content .round_wrap::after {
    content: '';
    display: block;
    width: 10%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: center / contain no-repeat url(/assets/images/pages/aboutus_history/icon_plus.svg);
    position: absolute;
    top: 50%;
    left: 4.2%;
    transform: translateY(-50%);
}
.aboutus_organization_wrap .equal .organization_content .round_wrap::after {
    content: '';
    display: block;
    width: 10%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: center / contain no-repeat url(/assets/images/pages/aboutus_history/icon_equal.svg);
    position: absolute;
    top: 50%;
    left: -14.6%;
    transform: translateY(-50%);
}
.aboutus_organization_wrap .organization_content .round_wrap::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 1.3542vw;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid #999;
}
.aboutus_organization_wrap .organization_content .round_wrap .round {
    display: block;
    width: 62%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.aboutus_organization_wrap .organization_content .round_wrap .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.aboutus_organization_wrap .organization_content .round_wrap .text > span {
    display: block;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    white-space: nowrap;
}

.aboutus_organization_wrap li:nth-child(1) .organization_content .round_wrap .round {
    border: 3px solid #0C9F84;
    background: #0C9F8480;
}
.aboutus_organization_wrap li:nth-child(2) .organization_content .round_wrap .round {
    border: 3px solid #1685B2;
    background: #1685B280;
}
.aboutus_organization_wrap li:nth-child(3) .organization_content .round_wrap .round {
    background: linear-gradient(211.05deg, #0E998E 18.62%, #1685B2 87.06%);
}

.aboutus_organization_wrap .organization_content .text_wrap {
    margin-top: 20px;
}
.aboutus_organization_wrap .organization_content .text_wrap .close_btn_wrap {
    position: absolute;
    top: -24px;
    right: 0;
    display: none;
}
.aboutus_organization_wrap .organization_content .text_wrap .close_btn_wrap .close_btn {
    width: 24px;
    height: 24px;
}
.aboutus_organization_wrap .organization_content .text_wrap .close_btn_wrap .close_btn > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutus_organization_wrap .organization_content .text_wrap ul {
    width: 71%;
    padding: 30px 30px 40px;
    background: #fff;
    border-top-right-radius: 50px;
    margin: 0 auto;
}
.aboutus_organization_wrap .organization_content .text_wrap ul > li {
    padding-left: 8px;
    position: relative;
}
.aboutus_organization_wrap .organization_content .text_wrap ul > li + li {
    margin-top: 10px;
}
.aboutus_organization_wrap .organization_content .text_wrap ul > li::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 8px;
    left: 0;
}
.aboutus_organization_wrap .organization_content .text_wrap ul > li > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #222;
}

@media (max-width: 767px) {
    .customer_flex_wrap > .content_wrap {
        margin-left: unset;
    }
    .customer_flex_wrap > .content_wrap .year .line {
        width: 10px;
    }
    .customer_flex_wrap > .content_wrap .year {
        padding-bottom: 40px;
    }
    .customer_flex_wrap > .content_wrap .year + .month {
        padding-bottom: 40px;
        margin-left: 20px;
    }
    .customer_flex_wrap > .content_wrap .year.type1 .number {
        width: 110px;
        height: 110px;
    }
    .customer_flex_wrap > .content_wrap .month .text + .number {
        margin-top: 10px;
    }
    .customer_flex_wrap > .content_wrap .year.type1 .number > span {
        font-size: 20px;
    }
    .customer_flex_wrap > .content_wrap .month .number {
        font-size: 20px;
    }
    .customer_flex_wrap > .content_wrap .month .text {
        margin-top: 6px;
        font-size: 16px;
    }

    .customer_flex_wrap > .content_wrap .year.type2 {
        margin: 0 10px;
    }
    .customer_flex_wrap > .content_wrap .year.type2 .number {
        width: 90px;
        height: 90px;
    }
    .customer_flex_wrap > .content_wrap .year.type2 .number::before {
        width: 70px;
        height: 70px;
    }
    .customer_flex_wrap > .content_wrap .year.type2 .number > span {
        font-size: 16px;
    }
    .customer_flex_wrap > .content_wrap .year.type2 .number.from_to > span:last-child {
        margin-right: 10px;
    }

    .aboutus_organization_wrap {
        flex-direction: column;
    }
    .aboutus_organization_wrap .organization_content .round_wrap {
        width: 225px;
    }
    .aboutus_organization_wrap .add + .add .organization_content .round_wrap::after {
        top: -32px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .aboutus_organization_wrap .equal .organization_content .round_wrap::after {
        top: -32px;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
    }
    .aboutus_organization_wrap .organization_content .round_wrap::before {
        display: none;
    }
    .aboutus_organization_wrap > li + li {
        margin-top: 40px;
    }
    .aboutus_organization_wrap > li:nth-child(2) {
        left: 0;
    }
    .aboutus_organization_wrap .organization_content .round_wrap .round {
        width: 180px;
    }
    .aboutus_organization_wrap .organization_content .round_wrap .text > span {
        font-size: 16px;
    }

    .aboutus_organization_wrap .organization_content .text_wrap {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 200;
        margin-top: unset;
    }
    .aboutus_organization_wrap .organization_content .text_wrap.on {
        display: block;
    }
    .aboutus_organization_wrap .organization_content .text_wrap > div {
        border-top-right-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .aboutus_organization_wrap .organization_content .text_wrap .close_btn_wrap {
        display: block;
    }
    .aboutus_organization_wrap .organization_content .text_wrap::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #00000099;
    }
    .aboutus_organization_wrap .organization_content .text_wrap ul {
        width: 315px;
    }
}

